nod-red-detect-missing-tags.json
[{"id":"6996a1850e9640cf","type":"tab","label":"Detect tags","disabled":false,"info":"","env":[]},{"id":"eec79cdece912ff9","type":"signalk-subscribe","z":"6996a1850e9640cf","name":"Get TAG Signals","mode":"sendAll","flatten":true,"context":"vessels.self","path":"sensor.tag.signal.*","source":"","period":1000,"x":120,"y":100,"wires":[["db6e93b3cf41256a"]]},{"id":"7e7bfc3b09acd27c","type":"signalk-subscribe","z":"6996a1850e9640cf","name":"navigation.position","mode":"sendAll","flatten":true,"context":"vessels.self","path":"navigation.position","source":"","period":1000,"x":130,"y":160,"wires":[["db6e93b3cf41256a"]]},{"id":"db6e93b3cf41256a","type":"function","z":"6996a1850e9640cf","name":"Store tags, time, position","func":"if (msg.topic == 'navigation.position'){\n    flow.set('position', msg.payload);\n    // console.log(flow.get('position'))\n}\nelse if (msg.topic.slice(0,18) == 'sensor.tag.signal.'){\n    const tag_name = msg.topic.slice(18,);\n    const position = flow.get('position');\n    const datetime = new Date();\n    var tracked_tags = flow.get(\"tracked_tags\");\n    tracked_tags[tag_name] = {\n        'tag_name' : tag_name,\n        'position': position,\n        'datetime': datetime,\n        'state' : 'seen'}\n    flow.set(\"tracked_tags\", tracked_tags);\n    // msg.payload = flow.get('tracked_tags');\n    // console.log(flow.get('tracked_tags'))\n}\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar tracked_tags = {};\nflow.set(\"tracked_tags\", tracked_tags);\n","finalize":"","libs":[],"x":450,"y":160,"wires":[[]]},{"id":"62b10224ba566e0e","type":"inject","z":"6996a1850e9640cf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":280,"wires":[["ad50bdb522f4a3ea"]]},{"id":"ad50bdb522f4a3ea","type":"function","z":"6996a1850e9640cf","name":"Scan for missing tags","func":"// https://stackoverflow.com/questions/105034/how-do-i-create-a-guid-uuid\nvar lut = []; for (var i = 0; i < 256; i++) { lut[i] = (i < 16 ? '0' : '') + (i).toString(16); }\nfunction generateUUID() {\n   var d0 = Math.random() * 0xffffffff | 0;\n   var d1 = Math.random() * 0xffffffff | 0;\n   var d2 = Math.random() * 0xffffffff | 0;\n   var d3 = Math.random() * 0xffffffff | 0;\n   return lut[d0 & 0xff] + lut[d0 >> 8 & 0xff] + lut[d0 >> 16 & 0xff] + lut[d0 >> 24 & 0xff] + '-' +\n      lut[d1 & 0xff] + lut[d1 >> 8 & 0xff] + '-' + lut[d1 >> 16 & 0x0f | 0x40] + lut[d1 >> 24 & 0xff] + '-' +\n      lut[d2 & 0x3f | 0x80] + lut[d2 >> 8 & 0xff] + '-' + lut[d2 >> 16 & 0xff] + lut[d2 >> 24 & 0xff] +\n      lut[d3 & 0xff] + lut[d3 >> 8 & 0xff] + lut[d3 >> 16 & 0xff] + lut[d3 >> 24 & 0xff];\n}\n\nvar tracked_tags = flow.get(\"tracked_tags\");\nconst dtnow = new Date()\nvar setflow = false\nfor (const key of Object.keys(tracked_tags)){\n   // @ts-ignore\n   if (((dtnow - tracked_tags[key]['datetime']) >= 30000 && tracked_tags[key]['state'] == 'seen')) {\n      tracked_tags[key]['state'] == 'missing';\n      setflow = true;\n      var newmessage = {};\n      newmessage.topic = 'vessels.' + generateUUID() + '.notifications.mob.' + tracked_tags[key]['tag_name']\n      var alert_message = 'Man Overboard! Tag name: ' + tracked_tags[key]['tag_name'] + ' ' + 'Last known position: ' +\n         'Lat: ' + tracked_tags[key]['position']['latitude'] +\n         ' Lon: ' + tracked_tags[key]['position']['longitude']\n      newmessage.payload = {\n         \"method\": [\"visual\", \"sound\"],\n         \"state\": \"emergency\",\n         \"message\": alert_message }\n      node.send(newmessage)\n      }\n   }\nif (setflow){flow.set('tracked_tags', tracked_tags)}\nreturn","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":280,"wires":[["17372134f139ab16"]]},{"id":"17372134f139ab16","type":"signalk-send-notification","z":"6996a1850e9640cf","name":"","path":"","state":"alarm","message":"","visual":true,"sound":true,"source":"","x":710,"y":280,"wires":[]}]